body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: darkgray;
}

div {
    display: flex;
    background-color: white;
}

#container {
    flex-direction: column;
    width: 250px;
    height: 350px;
    border: 1px solid black;
}

#display {
    min-width: 248px;
    min-height: 40px;
    border-bottom: 1px solid black;
}

#numberkeybox,
#functionkeybox {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#numberkeybox {

}

#functionkeybox {

}

.numberkey,
.functionkey {
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid black;
}

.numberkey {
    background-color: lightgray;
}

.functionkey {
    background-color: lightblue;
}

#header,
#footer {
    display: flex;
    background-color: darkgray;
}